.footer {
    padding: 5%;
    background-color: rgb(0, 0, 59);
    height: 15vh;
    text-align: center;
    a {
        img {
            height: 9vh;
        }
        p {
            font-size: 3vw;
            margin: 0;
            color: white;
        }
    }
}