
<app-heading [heading]="heading"></app-heading>
<div class="bank">
    <p>축하의 마음을 담아 축의금을 전달해보세요.</p>
    <div class="groom">
        <div class="wrapper">
            <div class="left-wrapper">
                <p>신랑측 마음</p> 
            </div>
            <div class="right-wrapper">
                <button (click)="displayGroomBankDetails()">
                    계좌번호 {{groomExpanded? '숨기기' : '보기'}}
                </button>
            </div>
        </div>
        
        <ng-container *ngIf="groomExpanded">
            <div class="account-wrapper">
                <div class="account-details" *ngFor="let account of groomBankDetails"> 
                    <div class="left-wrap">
                        <p>
                            {{account.bank}}:
                        </p>
                        <p> 예금주:</p>
                    </div>
                    <div class="right-wrap">
                        <p>
                            {{account.number}}
                        </p>
                        <p>
                            {{account.name}}
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="bride">
        <div class="wrapper">
            <div class="left-wrapper">
                <p>신부측 마음</p> 
            </div>
            <div class="right-wrapper">
                <button (click)="displayBrideBankDetails()">
                    계좌번호 {{brideExpanded? '숨기기' : '보기'}}
                </button>
            </div>
        </div>
        
        <ng-container *ngIf="brideExpanded">
            <div class="account-wrapper">
                <div class="account-details" *ngFor="let account of brideBankDetails"> 
                    <div class="left-wrap">
                        <p>
                            {{account.bank}}:
                        </p>
                        <p> 예금주:</p>
                    </div>
                    <div class="right-wrap">
                        <p>
                            {{account.number}}
                        </p>
                        <p>
                            {{account.name}}
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

</div>