.banner {
    width: 100%;
    padding: 5% 0 5% 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../../assets/banner_01.jpg');
    text-align: center;
    letter-spacing: 1vw;
    color:white;
    font-size: 3vw;
}


    .main-contacts {
        // border: 1px solid red;
        margin: 5% 15% 5% 15%;
        text-align: center;
        .wrapper {
            // border: 1px solid blue;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .name {
                font-size: 3vw;
                padding-right: 3%;
            }
            .buttons {

            }
        }
    }

    .contacts-banner {
        margin: 5% 0 5% 0;
        width: 100%;
        padding: 2%;
        background-color: lightgrey;
        text-align: center;
        font-size: 2vw;
    }

    .parents {
        // border: 1px solid red;
        margin: 0 15% 0 15%;
        text-align: center;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        
    }
