.banner {
    width: 100%;
    padding: 5% 0 5% 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../../assets/banner_01.jpg');
    text-align: center;
    letter-spacing: 1vw;
    color:white;
    font-size: 3vw;
}