<div class="banner">
    <p>소중한 당신을 초대합니다</p>
</div>

<div class="main-contacts">
    <div *ngFor="let person of mainContacts">
        <div class="wrapper">
            <div class="name">
                <p>{{person.name}}</p>
            </div>
            <div class="buttons">
                <app-click-to-call
                [tel]="person.tel"
                [iconColor]="person.iconColor"
                ></app-click-to-call>
            </div>
        </div>
    </div>
</div>

<div class="contacts-banner">
    <p>혼주에게 연락하기</p>
</div>
<div class="parents">
    <div class="left-wrapper">
        <p class="grey-font">신랑측</p>
        <div *ngFor="let contact of groomContacts">
            <div class="name">
                <p>{{contact.role}} <span class="big-font">{{contact.name}}</span></p>
            </div>
            <div class="buttons">
                <app-click-to-call
                [tel]="contact.tel"
                [iconColor]="contact.iconColor"
                ></app-click-to-call>
            </div>
        </div>
    </div>
    <div class="right-wrapper">
        <p class="grey-font">신부측</p>
        <div *ngFor="let contact of brideContacts">
            <div class="name">
                <p>{{contact.role}} <span class="big-font">{{contact.name}}</span></p>
            </div>
            <div class="buttons">
                <app-click-to-call
                [tel]="contact.tel"
                [iconColor]="contact.iconColor"
                ></app-click-to-call>
            </div>
        </div>
    </div>
</div>
