.video {
    .header {
        margin: 20% 15% 0 15%;
        border-top: 1px solid #090303;
        font-size: 3vw;
        text-align: center;
        letter-spacing: 2vw;
        p {
            margin-top: 5%;
            // margin-bottom: 15%
        }
    }

    video {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 10vw;
    }

    .vertical {
        // border-left: 1px solid #090303;
        padding-left: 15px;
        font-size: 3vw;
        // text-align: center;
        text-transform: uppercase;
        align-items: center;
        justify-content:space-between;
        display: flex;
        flex-direction: column;
        p {
            margin: 0;
        }
    }
    .vertical {
        // border-left: 1px solid #090303;
        padding-left: 15px;
        font-size: 3vw;
        // text-align: center;
        text-transform: uppercase;
        align-items: center;
        justify-content:space-between;
        display: flex;
        flex-direction: column;
        p {
            margin-bottom: 5px;
        }
    }

    .horizontal-wrapper {
        align-items: center;
        justify-content:space-around;
        display: flex;
        flex-direction: row;
        padding: 5% 0 5% 0;
        margin: 0 15% 0 15%;

        .horizontal {
            color: pink;
            font-size: 3vw;
            
            p {
                margin: 0;
            }
        }
    }
}