<div class="wrapper">
    <div class="header">
        <p>오 시 는 길</p>
    </div>
    <div class="contact">
        <div class="left-wrapper">
            <p class="location">
                {{location.name}}
            </p>
            <p class="address">
                {{location.address}}
            </p>
        </div>
        <div class="right-wrapper">
            <a href="tel:{{location.tel}}">
                <img src="../../assets/icons/phone-call-blue.png">
            </a>
        </div>
    </div>
    <div id="map" class="map"></div>
    <a href="https://map.kakao.com/link/to/{{location.name}},37.549165,126.667171" target="_blank">
        <img class="navigation" src="../../assets/icons/pin.png">
        <p>카카오맵</p>
    </a>

</div>