<div class="wrapper">
    <div class="header">
        <p>오 시 는 길</p>
    </div>
    <div class="contact">
        <div class="left-wrapper">
            <p class="location">
                {{location.name}}
            </p>
            <p class="address">
                {{location.address}}
            </p>
        </div>
        <div class="right-wrapper">
            <a href="tel:{{location.tel}}">
                <img src="../../assets/icons/phone-call-blue.png">
            </a>
        </div>
    </div>
    <div id="map" class="map"></div>
</div>