.click-to-call {
    //probably need to change to flex box
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
        img {
            // padding-left: 10px;
            height: 10vw;
        }
    }
}