.gallery {
    border: 0.5px solid lightcoral;
    display: flex;
    flex-direction: row;
    overflow: auto;

    img {
        display: inline-block;
        height: 35vw;
        margin: 2vw;
    }
}

.gallery::-webkit-scrollbar {
    display: none;
}