.gallery {
    border: 0.5px solid lightcoral;
    display: flex;
    flex-direction: row;
    overflow: auto;
    img {
        display: inline-block;
        height: 20vw;
        margin: 2vw;
    }

}