.photo {
    display: flex;
    background-color: rgb(230, 230, 230);
    align-items: center;
    justify-content: center;
    // padding-bottom: 10%;
    flex-direction: row;


    img {
        width: 80%;
    }
    
    button {
        padding: 2vw;
        img {
            width: 4vw;
        }
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }
}