.photo {
    .main {
        width: 100%;
        background-color: rgb(230, 230, 230);

        display: flex;
    
        align-items: center;
        justify-content: center;
        // padding-bottom: 10%;
        flex-direction: row;
        height: 150vh;
        img {
            width: 80%;
            pointer-events: none;
        }

        button {
            img {
                width: 4vw;
            }
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            -webkit-tap-highlight-color: transparent;
        }
    }
}

@media only screen and (max-width: 600px) {
    .photo .main {
        height: 68vh;
    }
}

@media only screen and (min-width:601px) and (max-width: 900px) {
    .photo .main {
        height: 80vh;
    }
}

@media only screen and (min-width:901px) and (max-width: 1186px) {
    .photo .main {
        height: 105vh;
    }
}
@media only screen and (min-width: 1693px) {
    .photo .main {
        height: auto;
    }
}

